@use "@/index" as *;

.leftPanel {
    @extend .panel;

    width: 320px;

    @media (orientation: portrait) {
        width: 100%;
    }
}

.contentPanel {
    @extend .panel;

    @media (orientation: portrait) {
        display: none;
    }

    flex: 1;
}
