@use "@/index.module.scss" as *;

.leftPart {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: $padding;

    @media (orientation: portrait) {
        width: 100%;
    }
}

.chatsPanel {
    @extend .panel;

    flex: 1;
}

.contentPanel {
    @extend .panel;

    @media (orientation: portrait) {
        display: none;
    }

    flex: 1;
}

.userPanel {
    @extend .panel;

    height: 80px;
}
