@use "@/index.module.scss" as *;
@use "sass:math";

.leftPart {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: $padding;

    @media (orientation: portrait) {
        width: 100%;
    }
}

.chatsPanel {
    @extend .panel;

    flex: 1;
}

.contentPanel {
    @extend .panel;

    @media (orientation: portrait) {
        display: none;
    }

    flex: 1;
}

.userPanel {
    @extend .panel;

    @media (orientation: portrait) {
        position: absolute;
        bottom: $padding * 2;
        left: $padding * 2;
        width: calc(100dvw - $padding * 4);
    }

    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconButton {
    aspect-ratio: 1;
    height: 50px;
    transition: scale 0.25s ease;

    &:hover {
        scale: 1.3;
    }
}
