@import "https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap";

$bg-color: #131317;
$panel-bg-color: #1f1f23;
$border-color: #2d2d32dd;
$divider-color: #2d2d32dd;
$primary-color: #ffffff;
$secondary-color: #aaaaaa;
$shadow-color: rgba(0, 0, 0, 0.5);
$ripple-color: #ffffff66;
$border-radius: 16px;
$border-width: 2px;
$padding: 12px;
$font-size-base: 16px;
$font-family: "Rubik";

:export {
    bgColor: $bg-color;
    panelBgColor: $panel-bg-color;
    borderColor: $border-color;
    dividerColor: $divider-color;
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    shadowColor: $shadow-color;
    rippleColor: $ripple-color;
    borderRadius: $border-radius;
    borderWidth: $border-width;
    padding: $padding;
    fontSizeBase: $font-size-base;
    fontFamily: $font-family;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $border-color transparent;
}

@view-transition {
    navigation: auto;
}

body {
    font-family: $font-family;
    background-color: $bg-color;
}

h1 {
    font-family: $font-family;
    font-size: 36px;
    color: $primary-color;
    text-align: center;
    margin: 8px;
}

p {
    font-family: $font-family;
    color: $primary-color;
    font-weight: 500;
}

input {
    @extend .shadow;

    font-family: $font-family;
    padding: $padding;
    border-radius: $border-radius;
    border: $border-width solid $border-color;
    background-color: $panel-bg-color;
    color: $primary-color;
    font-size: $font-size-base;
}

button {
    @extend .shadow;

    font-family: $font-family;
    padding: $padding;
    border-radius: $border-radius;
    border: $border-width solid $border-color;
    background-color: $panel-bg-color;
    color: $primary-color;
    font-size: $font-size-base;
}

.shadow {
    box-shadow: 0 4px 4px $shadow-color;
}

.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    padding: $padding;
    gap: $padding;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.panel {
    @extend .shadow;

    background-color: $panel-bg-color;
    border-radius: $border-radius;
    border: $border-width solid $border-color;
    padding: $padding;
    gap: $padding;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
