@use "@/index.module.scss" as *;
@use "sass:math";

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: math.div($padding, 2);
    overflow: hidden scroll;

    @include mobile {
        padding-bottom: 70px;
    }
}
